.container {
    padding-top: 20px;
}

.open-text {
    color: #0078D4;
    font-weight: 800;
    text-decoration: underline;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}